node_modules

# environment
/processor/venv3.6
/processor/serverenv
/processor/redis-stable
/processor/__pycache__

# sensitive info
/backend/.env
# /backend/certs

# dependencies
/backend/node_modules
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# track these files, if they exist
!.gitignore
ai-surveillance-system-bachelor-degree.code-workspace
