body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.active span {
  background-color: #4749dc !important;
  -webkit-transform: translate3d(
    0,
    calc(1px * var(--button-hover-pressure)),
    0
  );
  transform: translate3d(0, calc(1px * var(--button-hover-pressure)), 0);
}
